# IDEA 系列
.idea/
*.iml

# VS Code
.vscode/

# Node
node_modules/
npm-debug.log*
yarn-debug.log*
yarn-error.log*
.pnpm-debug.log*

# Vue/Vite 构建产物
dist/
dist-ssr/
*.local

# SpringBoot / Maven
target/
*.jar
*.war
*.nar
*.ear
*.zip
*.tar.gz
*.rar
HELP.md

# OS 生成文件
.DS_Store
Thumbs.db

# 本地环境文件
.env.local
.env.*.local